@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body,
.pi-ov,
.np-ov {
    background-color: white;
}

.cygni-horizontal-titles .title {
    /*  font-family: 'Bodoni Moda', serif; */
}

.project-title,
.vertical-item-title {
    font-family: 'Bodoni Moda', serif;
    font-weight: 200;
}

.layout-dark .project-title {
    color: white;
}

.project-top {
    top: 60%;
    max-width: inherit;
}

.project-meta {
    top: 70%;
}

.project-summary {
    top: 80%;
    font-weight: 200;
    font-size: 20px;
    /*
    max-width: 60vw;
    right: inherit;
    left: 20%;
    */
}

.project-summary-paola {
    top: 30%;
}

.layout-dark .project-summary {
    color: white;
}

.vertical-item-title {
    /*  font-family: 'Bodoni Moda', serif;*/
    font-size: 75px;
    font-weight: 400;
    line-height: 100px;

}

.menu>li>a {
    line-height: 55px;
    font-size: 35px;
}

.menu>li>a::before {
    white-space: nowrap
}

.next-project-title {
    font-family: 'Bodoni Moda', serif;
    font-size: 60px;
    font-weight: 100;
    max-width: inherit;
}

.next-project span {
    text-transform: inherit;
    font-size: 20px;
    opacity: .8 !important;
}

.vertical-item-meta {
    width: 100%;
    left: 50%;
}

#intro01 {
    background-color: black;
    height: 100%;
}

#intro02 {
    background-color: white;
}

#intro01 img {
    display: block;
    margin-left: auto;
    margin-right: auto
}


.full-width {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

/*
    .pi-ov-in.pi-ov-1 {
        height: 0%
    }

    .pi-ov-in.pi-ov-2 {
        height: 0%
    }

    .pi-ov-in.pi-ov-3 {
        height: 0%
    }

    .pi-ov-in.pi-ov-4 {
        height: 0%
    }
*/

.white {
    color: white !important;
}

h3 {
    font-weight: 400;
}

.next-project-image-wrapper {
    background-color: #2a211c;
}

.projects-nav {
    min-height: 55vh;
}

.vertical-image-wrapper {
    width: 45%;
    min-height: 350px;
}

.vertical-projects {
    width: 100%;
    padding-top: 0vh;
}

.vertical-container {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.vertical-item:nth-child(even) .vertical-item-meta {
    right: 55%;
}
.vertical-item-link {

    width: 100%;
}
.section-0 {
    border-bottom: 1px solid white;
    padding: 1rem;
    height: 100vh;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}


.section-0 span {
    -webkit-transform: translatey(-100%);
    -ms-transform: translatey(-100%);
    transform: translatey(-100%);
    -webkit-transition: all 1.6s cubic-bezier(0.42, 0.4, 0.26, 1.01);
    -o-transition: all 1.6s cubic-bezier(0.42, 0.4, 0.26, 1.01);
    transition: all 1.6s cubic-bezier(0.42, 0.4, 0.26, 1.01);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    opacity: 0;
    visibility: hidden;

}

.section-0 span.intro-in {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 1;
    visibility: visible;
}

.section-0 p,
.section-2 p {
    font-size: 3vw;
    font-family: 'Bodoni Moda', serif;
    line-height: 4vw;
    text-align: center;
}


.section-1 {
    width: 100vw;
    margin-bottom: 100px;
}

.section-1 .images-container {
    display: grid;
    padding: 0;
    gap: 0px;
    margin-top: 16px;
    grid-template-columns: repeat(4, minmax(0, 4fr));

}

.section-1 .intro-image-wrapper {
    display: block;
    position: relative;
}

.section-1 .images-container img {

    object-fit: cover;
    width: 100%;
    /* image box size as % of container, see step 1 */
    height: 100%;
    /* image box size as % of container, see step 1 */
}

.section-1 .intro:nth-child(1) {
    height: 80vh;
    padding-top: -10vh;
}

.section-1 .intro:nth-child(2) {
    height: 90vh;
    padding-top: -5vh;

}

.section-1 .intro:nth-child(3) {
    height: 130vh;
    padding-top: -15vh;
}

.section-1 .intro:nth-child(4) {
    height: 90vh;
    padding-top: -5vh;
}



.section-3 {
    font-family: 'Bodoni Moda', serif;

}

.section-3 h3 {
    font-size: 55px;
    color: #FFF;
}
