@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
.cygni-horizontal-titles .title {
  /*  font-family: 'Bodoni Moda', serif; */
}
.project-title  {
   /* font-family: 'Bodoni Moda', serif; */
   font-weight: 200;
}
.layout-dark .project-title{
    color: white;
}
.project-top {
    top: 60%;
    max-width: inherit;
}

.project-meta {
    top: 70%;
}
.project-summary {
    top: 80%;
    max-width: 60vw;
    right: inherit;
    left: 20%;
}
.layout-dark .project-summary{
    color: white;
}

.vertical-item-title{
  /*  font-family: 'Bodoni Moda', serif;*/
  font-size: 75px;
  font-weight: 400;
}
.next-project-title {
    font-size: 30px;
    font-weight: 100;
    max-width: inherit;
}

.vertical-item-meta {
    width: 100%;
    left: 46%;
}

#intro01{
    background-color: black;
    padding: 30%;
}
#intro02{
    background-color: white;
    padding: 30%;
    margin-bottom: 30%;
}
#intro01 img{  display: block;
    margin-left: auto;
    margin-right: auto
}


    .full-width {
      margin-left: calc(50% - 50vw);
      margin-right: calc(50% - 50vw);
    }

/*
    .pi-ov-in.pi-ov-1 {
        height: 0%
    }

    .pi-ov-in.pi-ov-2 {
        height: 0%
    }

    .pi-ov-in.pi-ov-3 {
        height: 0%
    }

    .pi-ov-in.pi-ov-4 {
        height: 0%
    }
*/

.white{
    color: white !important;
}